/* box sizing */
/* - for newer browsers */
html {
  box-sizing: border-box;
}
/* - for older browsers */
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* utility classes */
.container{
  width:90vw;
  margin:40px auto;
}

.img{
  max-width:100%;
}

.img-right{
  float:right;
  margin-left:20px;
  padding:5px;
}

.img-left{
  float:left;
  margin-right:20px;
  padding:0px;
}

 /* Responsive Images */
img{
  max-width:100%;
  height:auto;
}

/* global and styling items  */
/* - fonts, custom font instead of using Google Fonts */
@font-face {
  font-family: 'kayak_sansregular';
  src: url('../fonts/kayak_sans_regular-webfont.woff2') format('woff2'), url('../fonts/kayak_sans_regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
* {
font-family: 'kayak_sansregular', Arial, sans-serif;
}

body {
 height:auto;
 max-width:100%;
background-color: black;
}

header.primary {
  padding-top: .5em;
  padding-bottom: .5em;
  background-color: black;
}

header.primary h1 a{
  background: url("../img/logo.png");
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background-repeat:no-repeat;
}

header.primary nav ul {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0;
  list-style: none;
}

header.primary nav ul li a{
  text-decoration: none;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-right:20px;
  color: white;
  font-size: 1.2rem;
}


header.primary h1 a{
  display: block;
  width: 460px;
  height: 40px;
  margin: 0 auto;
}


header.primary nav a:link, header.primary nav a:visited {
  color: white;
}

header.primary h2 {
  font-size: 5em;
  margin: 20px auto 40px;
  position: relative;
}

section#overview {
  padding-bottom: 80px;
  color:white;
  font-size:20px;
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  text-align: justify;
}

section#history {
  padding-bottom: 30px;
  color:white;
  font-size:20px;
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  text-align: justify;
}

section#history h2{
  font-size: 5em;
  color: white;
  text-align:center;
}

section#overview h2{
  font-size: 5em;
  color: white;
  text-align:center;
}


section#articles {
  background: black;
}

section#articles .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: 2px solid white;
  border-top: 2px solid white;
  padding: 0 0 4em 0;
}

section#articles h2{
  flex: 0 0 100%;
  text-align: center;
  font-size: 3rem;
  color: #fff;
}

#articles article {
  width: 30%;
  padding: 10px;
  font-size: 1rem;
  background: black;
  border-radius: 0px;
border: 2px solid white;
color:white
}

#articles article.post h2 {
  font-size: 1.5em;
  text-shadow: none;
}

#articles .post{
  text-align: center;
}

#articles .post figure {
  margin: 0;
}

#articles ul {
  padding: 0 20px;
}
#articles li {
  margin-bottom: 20px;
}
h2 a:visited {
  color: white;
}
/* aside */
p a:visited{
  color:white
}

aside{
  background-color: black;
  color: #ffffff;
  
}

aside .container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

aside h2 {
  font-size: 3rem;
  text-align: center;
}

aside h3 {
  font-size: 2rem;
  text-align: center;
}

#draco{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 10px;
}

#superdraco{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 56.5%;
  padding: 10px;
}

figcaption {
  text-align: center;
  text-transform: uppercase;
  color:white;
  font-size: 1rem;
}


/* table */

table{
  width:100%;
  border-style:none;
  border-bottom: 0;
  text-align: left;
  
}

th{
  background:#172635;
  color:#fff;
  width:33%;
  padding:10px;
}

td{
  padding:10px;
}

table caption{
  color:black;
  padding:10px;
  font-weight:bold;
  font-size:2rem;
  text-align: left;
}

/* timeline */
article#timeline {
color:white;
border-top: 2px solid white;
}

.line-container {
	max-width:900px;
	margin:50px auto;
}

.line-container h2{
text-align: center;
font-size: 3rem;
}

.timeline{
	position:relative;
	display:flex;
	flex-direction:column;
	padding-top: 20px;
	padding-bottom: 20px;
}

.timeline li{
	width:50%;
  margin: auto;
  width: 50%;
  padding: 10px;
}

.timeline:before{
	content:"";
	position:absolute;
	top:0;
	bottom:0;
	left:24.5%;
	width: 1px;
	background-color: white;
}

.timeline li::marker {
 font-size: 3rem;
}

/* FAQ */

details {
  margin-top: 20px;
  border: 1px solid white;
  padding: .5em .5em 0;
  color:white;
}

#details h2{
  text-align: center;
  color:white;
  font-size: 3rem;
}

summary {
  font-weight: bold;
  margin: -.5em -.5em 0;
  padding: .5em;
}

details[open] {
  padding: .5em;
}

details[open] summary {
  margin-bottom: .5em;
}

section#faq {
  border-bottom: 2px solid white;
  padding-bottom: 40px;
  color:white;
  font-size:20px;
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  text-align: center;
  padding-bottom: 100px;
}

section#faq h2{
  font-size: 5em;
  color: white;
  text-align:center;

}

/* footer */
footer#colophon {
  background-color: black;
}

#colophon h6 {
  padding: 20px;
  margin: 0;
  color: #fff;
  text-align: center;
  font-size: 0.9rem;
  text-transform: uppercase;
}

#colophon h6 a:link, #colophon h6 a:visited {
  color:white;
}

@media (min-width: 769px) {
	.primary, header nav {
		display: flex;
	}
  	.primary{
		flex-direction: column;
		align-items: center;
}
  .primary{
		width: 80%;
		margin: 0 auto;
		max-width: 1150px;
	}
  
}

@media (min-width: 1025px) {
	.primary {
		flex-direction: row;
		justify-content: space-between;
	}
}
