/* box sizing */

html {
  box-sizing: border-box;
}
/*border sizing gets how the total height and width of an element is calculated */

/* down below is for older browsers to recognize the box sizing */

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* utility classes */
.container{
  width:85vw;
  margin:40px auto;
}

.img{
  max-width:100%;
}

.img-right{
  float:right;
  margin-left:20px;
  padding:5px;
}

.img-left{
  float:left;
  margin-right:20px;
  padding:0px;
}

 /* Responsive Images */
img{
  max-width:100%;
  height:auto;
}

/* global styles */
/* color scheme: standard #FFFFFF and #000000 */

body {
  font-family: 'Red Hat Text', sans-serif;
  margin:0px;
}

h2{
  font-size:2rem;
}

header.primary {
  text-align:left;
  color:#000000;
  padding: 20px 40px; 
  text-shadow:0px;
  background-color: #bfbfbf70;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='60' height='60' viewBox='0 0 60 60'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23a1a1a1' fill-opacity='0.2' fill-rule='nonzero'%3E%3Cpath d='M29 58.58l7.38-7.39A30.95 30.95 0 0 1 29 37.84a30.95 30.95 0 0 1-7.38 13.36l7.37 7.38zm1.4 1.41l.01.01h-2.84l-7.37-7.38A30.95 30.95 0 0 1 6.84 60H0v-1.02a28.9 28.9 0 0 0 18.79-7.78L0 32.41v-4.84L18.78 8.79A28.9 28.9 0 0 0 0 1.02V0h6.84a30.95 30.95 0 0 1 13.35 7.38L27.57 0h2.84l7.39 7.38A30.95 30.95 0 0 1 51.16 0H60v27.58-.01V60h-8.84a30.95 30.95 0 0 1-13.37-7.4L30.4 60zM29 1.41l-7.4 7.38A30.95 30.95 0 0 1 29 22.16 30.95 30.95 0 0 1 36.38 8.8L29 1.4zM58 1A28.9 28.9 0 0 0 39.2 8.8L58 27.58V1.02zm-20.2 9.2A28.9 28.9 0 0 0 30.02 29h26.56L37.8 10.21zM30.02 31a28.9 28.9 0 0 0 7.77 18.79l18.79-18.79H30.02zm9.18 20.2A28.9 28.9 0 0 0 58 59V32.4L39.2 51.19zm-19-1.4a28.9 28.9 0 0 0 7.78-18.8H1.41l18.8 18.8zm7.78-20.8A28.9 28.9 0 0 0 20.2 10.2L1.41 29h26.57z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  /* SVG Background */
  
}  

header.primary h1{
  font-size:5rem;
  width:85vw;
  margin:40px auto;
/* em = base size of the parent aka local sizing, rem= font of the document aka global sizing */
}

header.primary h1 a{
  /* targets the hyperlink in the header*/
  color:#000000;
  text-decoration:none;
  /* removes the underline in the hyperlink*/
}

header.primary h2 {
  font-size:2.5rem;
  /* Top | Left/Right | Bottom */
  width:85vw;
  margin:40px auto;
}

header.primary nav {
  width:85vw;
  margin:40px auto;
}

header.primary nav ul{
padding:0;
/* removes the extra bullet point space */
display:flex;
flex-direction:column;
justify-content:space-around;
}

header.primary nav ul li{
list-style-type:none;
/* removed the bullet dots, can be used to replace it too*/
margin: 1.5rem 0;
}

header.primary nav ul li a{
color:#000000;
list-style-type:none;
transition:.3s;
font-size:1.25rem;
border-radius: 0px;
border: 3.8px solid #000000;
padding: 8px;
text-decoration:none;
font-weight: bold;
}

header.primary nav a:hover, 
header.primary nav ul li a:active{
  background-color:rgba(0,0,0);
  color:#ffffff;
}

section#intro {
  border-bottom: 3.8px solid #000000;
  padding-bottom: 1rem;
}

section#intro h2{
  color:#000000;
  padding-bottom: 1rem;
  text-decoration: underline;
}

#content{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  border-bottom:3.8px solid black;
  padding-bottom:2.8rem;
}

#content article.post{
  width:30%;
  padding: 10px;
  font-size:.7rem;
  border-radius: 0px;
  border: 3.8px solid #000000;
  padding: 8px;
}

h2 a:visited, .post-meta a:visited{
  color: #000000;
}

#content article:hover{
background-color: #000000;
color: #ffffff;
transition: .3s;
}

.post:hover a{
  color: #ffffff;
  transition: .3s;
}

time.post-date, figcaption, .post-meta{
  text-transform:uppercase;
}

.post figure{
  margin:0;
}
/*removes the figure border */

.post img{
  margin-top: 5px;
  margin-bottom: 5px;
}

#additional-elements h2{
  color:black;
  border-bottom:3.8px black;
}

#additional-elements h3{
  border-left:8px solid black;
  padding:5px 10px;
}

#additional-elements h2{
  color:black;
  border-bottom:3.8px black;
}

#additional-elements a{
  color:black;
}

#additional-elements h3{
  border-left:8px solid black;
  padding:5px 10px;
}

table{
  width:100%;
  border:3.8px solid #000000;
  border-collapse:collapse;
  text-align: left;
}
tr:nth-child(even){
  background-color: whitesmoke
}

tr:hover{
  background-color: rgba(0,0,0,.4);
}

th{
  background:#172635;
  color:#fff;
  width:33%;
  padding:10px;
}
td{
  border:1px solid #c0c0c0;
  padding:10px;
}

table caption{
  color:black;
  padding:10px;
  font-weight:bold;
  font-size:2rem;
  text-align: left;
}


#additional-elements ol{
  list-style-type:upper-roman;
  list-style-position:outside;

}

#additional-elements ul{
  list-style-type:square;
}

#additional-elements ul{
    list-style-type:disc;
}

#additional-elements blockquote{
  background-color:#ffffff;
  padding:30px 40px;
  border:5px solid #000000;
  font-size:1.2rem;
}

#additional-elements cite{
  display:block;
  font-size:.6rem;
  text-align:right;
  font-weight:bold;
  margin-top:1.2rem;
}
dt{
  font-weight:bold;
  }
dd{
  margin-left:0;
}

/* Adjacent Sibling Combinator */
dd + dt{
  margin-top:1rem;
}
#additional-elements blockquote:hover{
  background-color: #000000;
  color:#ffffff;
  transition:.3s;
}
/* attribute selectors */
aside[role="complementary"]{
  color:black;
  padding:1.8rem;
  background-color: #bfbfbf70;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='60' height='60' viewBox='0 0 60 60'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23a1a1a1' fill-opacity='0.2' fill-rule='nonzero'%3E%3Cpath d='M29 58.58l7.38-7.39A30.95 30.95 0 0 1 29 37.84a30.95 30.95 0 0 1-7.38 13.36l7.37 7.38zm1.4 1.41l.01.01h-2.84l-7.37-7.38A30.95 30.95 0 0 1 6.84 60H0v-1.02a28.9 28.9 0 0 0 18.79-7.78L0 32.41v-4.84L18.78 8.79A28.9 28.9 0 0 0 0 1.02V0h6.84a30.95 30.95 0 0 1 13.35 7.38L27.57 0h2.84l7.39 7.38A30.95 30.95 0 0 1 51.16 0H60v27.58-.01V60h-8.84a30.95 30.95 0 0 1-13.37-7.4L30.4 60zM29 1.41l-7.4 7.38A30.95 30.95 0 0 1 29 22.16 30.95 30.95 0 0 1 36.38 8.8L29 1.4zM58 1A28.9 28.9 0 0 0 39.2 8.8L58 27.58V1.02zm-20.2 9.2A28.9 28.9 0 0 0 30.02 29h26.56L37.8 10.21zM30.02 31a28.9 28.9 0 0 0 7.77 18.79l18.79-18.79H30.02zm9.18 20.2A28.9 28.9 0 0 0 58 59V32.4L39.2 51.19zm-19-1.4a28.9 28.9 0 0 0 7.78-18.8H1.41l18.8 18.8zm7.78-20.8A28.9 28.9 0 0 0 20.2 10.2L1.41 29h26.57z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

aside div.container{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
}

aside article.widget{
width:44%;
}

article.widget a{
  color:black;
  display:block;
  margin-top:1.2rem;
  text-align:left;
}

article.widget footer{
  display:none;
}

#colophon h6{
  padding:20px;
  margin:0;
  text-align:center;
  color:#000000;
  font-size:.8rem;
  text-transform:uppercase;
  background-color: #bfbfbf;
}


/* Media Query */
/* Media Query allows the content of a Web page to adapt to the type of media that the page is being rendered in */

@media screen and (max-width:600px){
  
  header.primary nav ul {
    flex-direction:column;
  }
  
  header.primary nav a{
    display:block;
  }
  
  header.primary nav li{
    padding:5px;
  }
  
}

