/* box sizing */

html {
  box-sizing: border-box;
}
/* down below is for older browsers to recognize the box sizing */
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* utility classes */
.container{
  width:70vw;
  margin:40px auto;
}

img{
  max-width:100%;
}
 
/* global styles */
/* color scheme: standard #FFFFFF and #000000 */

body {
  font-family: 'Red Hat Text', sans-serif;
  margin:0px;
}

header.primary {
background-color:#D3D3D3;
/*background is a shorter way to say it */
text-align:center;
color:#000000;
/* padding, choose one: */
padding:40px;
/* all 4 corners*/
padding:40px 40px;
/* top and bottom */
padding:40px 40px 40px 40px;
/* all four sides short form */
/* these these are aso used for padding */

text-shadow:0.5px 0.5px 0.5px #9B9A97
/* 1. x coordinate shadow, 2. y coordinate shadow, 3. shadow blur, 4. color*/
}

header.primary h1 {
font: size 1rem;
/* em = base size of the parent, rem= font of the document */
}

header.primary h1 a{
  /* targets the hyperlink in the header*/
  color:#000000;
  text-decoration:none;
  /* removes the underline in the hyperlink*/
}

header.primary h2 {
  font: size 1.5rem;
  margin: 20px auto 20px;
}

header.primary nav {
  width: 80vw;
  margin: 0 auto;
  max-width: 900px;
}

header.primary nav ul{
padding:0;
/* removes the extra bullet point space */
display:flex;
flex-direction:row;
justify-content:space-evenly;
max-width: 900px;

}

header.primary nav ul li{
list-style-type:none;
/* removed the bullet dots, can be used to replace it too*/
}

header.primary nav ul li a{
color:#FFFFFF;
list-style-type:none;
background-color:rgba(0,0,0,.65);
padding:8px;
border-radius:20px;
transition:1s;
}

header.primary nav a:hover, header.primary nav ul li a:active{
  background-color:rgba(0,0,0);
}

section#intro {
  border-bottom: 1px solid #000000;
  padding-bottom: 1rem;
}

section#intro h2{
  color:#000000;
  border-bottom: 1px solid #000000;
  padding-bottom: 1rem;
}

#content{
  display:flex;
  flex-direction:row;
  justify-content:space-evenly;
}

#content article.post{
  width:30%;
  box-shadow:0 2px 2px rgba(0,0,0,.4);
  padding: 10px;
  font-size:.7rem;
}

#content article.post:hover{
  box-shadow:0 8px 16px rgba(0,0,0,.4) 
} 

time.post-date, figcaption, .post-meta{
  text-transform:uppercase;
  color:black
}

.post figure{
  margin:0;
}
/*removes the figure border */

.post img{
  border: 5px solid black;
  padding: 2px;
  margin: 5px 0;
}

.post a{
  color:black;
  transition:.5s;
}

aside[role="complementary"]{
  background:#F3F3F3;
  color:black;
  padding:1.8rem;
}

.post a:hover, .post a:active{
  text-decoration:none;
}

aside div.container{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
}

aside article.widget{
width:44%;
}

article.widget a{
  color:black;
  display:block;
  margin-top:1.2rem;
  text-align:left;
}

article.widget footer{
  display:none;
}

#colophon h6{
  padding:20px;
  margin:0;
  text-align:center;
  color:black;
  font-size:.8rem;
  background-color:white;
}

@media screen and (max-width:600px){
  
  header.primary nav ul {
    flex-direction:column;
  }
  
  header.primary nav a{
    display:block;
  }
  
  header.primary nav li{
    padding:5px;
  }
  
}

